.navbar{
  height:80px;

  .wrap{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center{
     font-size: 30px;
     letter-spacing: 2px;
    }
    .item{
       display: flex;
       align-items: center;
       font-size: 18px;
    }

    .right{
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}